<div hidden="@hide" id="@langCode">
    <div class="card-params">
        <div data-type="object">
            <div>Name:</div>
            <input name="LanguageCode" type="hidden" value="@langCode" />
            <input name="Key" type="hidden" value="@TK.GAME_NAME" />
            <input name="Value" type="text" value="@name">
        </div>
    </div>
    <div class="card-params">
        <div data-type="object">
            <div>Desctiption:</div>
            <input name="LanguageCode" type="hidden" value="@langCode" />
            <input name="Key" type="hidden" value="@TK.GAME_DESCRIPTION" />
            <textarea name="Value" rows="25">@description</textarea>
        </div>
    </div>
</div>

@using TK = MP.Core.Common.Constants.TransKeys;
@code {
    [Parameter] public string langCode { get; set; }
    [Parameter] public string name { get; set; }
    [Parameter] public string description { get; set; }
    [Parameter] public bool hide { get; set; }
}
